* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(240, 240, 240);
}

nav {
    height: 98%;
    position: fixed;
    width: 15%;
    border-radius: 15px;
    z-index: 1;
}
table.inventory th, td{
    font-size: 13px;
}

div.atap {
    top: 0;
    width: 100%;
    position: fixed;
    height: 10px;
    z-index: 1;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
}

.nav-item a {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    margin-top: 40px;
}

.nav-item {
    width: 100%;
}

.brand {
    margin-left: 20px;
    margin-top: 30px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.brand:hover {
    text-decoration: none;
    color: white;
}

hr {
    width: 100%;
    opacity: 0.5;
    background-color: black;
    border-color: white;
}

.nav-item a:hover {
    background-color: salmon;
    opacity: 0.7;
    color: black;
}

nav .active {
    background-color: white;
    color: black;
}

nav .active:hover {
    background-color: white;
}

nav a i {
    margin-right: 10px;
}

/* Copyright */
.copyright {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    font-size: 11px;
}

.konten {
    margin-left: 15%;
    width: 300px;
    flex: 5;
    margin-right: 10px;
}

.grid {
    display: flex;
    padding: 10px;
    object-fit: contain;
    height: 100%;
}

/* Responsive sidebar */
@media screen and (max-width:900px) {
    nav {
        width: 100%;
        margin: auto;
        height: 40%;
        border-radius: 0;
        position: unset;
    }

    .brand {
        text-align: center;
    }

    .konten {
        margin-left: 0;
    }

    .nav-item a {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    div.atap {
        display: none;
    }
}

/* Header Search */
.navbar {
    background-color: white;
    border-radius: 15px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-name h5 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.profile-name p {
    margin: 0;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 200;
    opacity: 0.7;
}

.wrapper-image {
    overflow: hidden;
    margin: 10px;
    width: 150px;
}

.wrapper-image img {
    display: block;
    width: 100%;
}

.dropdown {
    background: transparent;
}

.dropdown .btn {
    background: transparent;
}

.dropdown-item {
    font-size: 11px;
}

.dropdown-item i {
    margin-right: 10px;
}

/* Responsive Header */
@media screen and (max-width:900px) {
    .konten {
        width: 100%;
    }

    .grid {
        flex-direction: column;
        padding: 0;
    }

    .copyright {
        top: 0;
        right: 0;
        text-align: right;
        padding-right: 10px;
        width: auto;
        height: 20px;
    }

    .navbar {
        margin: 0;
        border-radius: 0;
    }

    .profile h5 {
        font-size: 14px;
    }

    .profile p {
        font-size: 11px;
    }

    .profile {
        width: 100vw;
    }

    .wrapper-image {
        display: none;
        height: 0;
        width: 0;
    }
}

/* End header profile */

/* Start box Content */
.box {
    margin-top: 10px;
    padding: 20px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: white;
    height: auto;
}

.kepala {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kepala h1 {
    font-size: 19px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

.kepala-kanan a {
    background-color: white;
    border-radius: 8px;
    width: 6rem;
    padding: 5px;
    border: 1px solid rgb(208, 208, 208);
}

.kepala-kanan a:hover {
    background-color: salmon;
    color: white;
    transition: .2s ease-in-out;
}

.kepala-kanan a {
    text-align: center;
    text-decoration: none;
    color: rgb(184, 184, 184);
    font-weight: lighter;
    font-size: 12px;
}

td i.copy{
    opacity: 0.7;
    cursor: pointer;
}

td i.copy:hover{
    opacity: unset;
}
.alertBox{
    width: 100vh;
    height: 100vh;
    background-color: violet;
}

/*  */
.kepala-kanan .btn {
    background-color: white;
    border-radius: 50%;
}

.modal-header i {
    color: #9999;
}

.modal-body {
    padding-top: 5px;
}

.btn i {
    color: #9999;
}

.btn i:hover {
    color: salmon;
}

.kepala-kanan .modal-body b {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    text-align: right;
}

.kepala-kanan .modal-body p {
    text-transform: lowercase;
    font-size: 12px;
}

.form-row,
.col-sm {
    display: flex;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

.modal-header span {
    display: none;
}

@media screen and (max-width: 900px) {
    .kepala-kanan .modal-body b {
        text-align: left;
    }

    .modal-header span {
        display: contents;
    }

    .kepala-kanan a {
        display: block;
        font-size: 11px;
    }
}

/*  */
.table td,
th {
    white-space: nowrap;
}
a.judul{
    padding: 2px;
    text-align: center;
    -webkit-box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.15);
    /* color */
    background: rgba(1, 96, 228, 1);
    background: -moz-linear-gradient(-45deg, rgba(1, 96, 228, 1) 8%, rgba(2, 76, 178, 1) 30%, rgba(6, 12, 20, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(8%, rgba(1, 96, 228, 1)), color-stop(30%, rgba(2, 76, 178, 1)), color-stop(100%, rgba(6, 12, 20, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(1, 96, 228, 1) 8%, rgba(2, 76, 178, 1) 30%, rgba(6, 12, 20, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(1, 96, 228, 1) 8%, rgba(2, 76, 178, 1) 30%, rgba(6, 12, 20, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(1, 96, 228, 1) 8%, rgba(2, 76, 178, 1) 30%, rgba(6, 12, 20, 1) 100%);
    background: linear-gradient(135deg, rgba(1, 96, 228, 1) 8%, rgba(2, 76, 178, 1) 30%, rgba(6, 12, 20, 1) 100%);
    color: white;
    /* box blur */
    border-radius: 0px 100px 0px 100px;
    -moz-border-radius: 0px 100px 0px 100px;
    -webkit-border-radius: 0px 100px 0px 100px;
    font-size: 15px;
    width: 20rem;
}
a.judul:hover{
    padding: 2px;
    text-align: center;
    -webkit-box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.15);
    /* color */
    color: white;
    background: rgba(23, 162, 184, 1);
    background: -moz-linear-gradient(-45deg, rgba(23, 162, 184, 1) 0%, rgba(23, 162, 184, 1) 13%, rgba(23, 162, 184, 1) 20%, rgba(6, 12, 20, 1) 88%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(23, 162, 184, 1)), color-stop(13%, rgba(23, 162, 184, 1)), color-stop(20%, rgba(23, 162, 184, 1)), color-stop(88%, rgba(6, 12, 20, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(23, 162, 184, 1) 0%, rgba(23, 162, 184, 1) 13%, rgba(23, 162, 184, 1) 20%, rgba(6, 12, 20, 1) 88%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(23, 162, 184, 1) 0%, rgba(23, 162, 184, 1) 13%, rgba(23, 162, 184, 1) 20%, rgba(6, 12, 20, 1) 88%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(23, 162, 184, 1) 0%, rgba(23, 162, 184, 1) 13%, rgba(23, 162, 184, 1) 20%, rgba(6, 12, 20, 1) 88%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(135deg, rgba(23, 162, 184, 1) 0%, rgba(23, 162, 184, 1) 13%, rgba(23, 162, 184, 1) 20%, rgba(6, 12, 20, 1) 88%, rgba(0, 0, 0, 1) 100%);
    width: 25%;
    -webkit-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.15);
    /* box blur */
    border-radius: 0px 100px 0px 100px;
    -moz-border-radius: 0px 100px 0px 100px;
    -webkit-border-radius: 0px 100px 0px 100px;
    font-size: 15px;
    width: 20rem;
}
h5.judul {
    margin-left: 1%;
    padding: 10px;
    text-align: center;
    -webkit-box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.15);
    /* color */
    background: rgba(1, 96, 228, 1);
    background: -moz-linear-gradient(-45deg, rgba(1, 96, 228, 1) 8%, rgba(2, 76, 178, 1) 30%, rgba(6, 12, 20, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(8%, rgba(1, 96, 228, 1)), color-stop(30%, rgba(2, 76, 178, 1)), color-stop(100%, rgba(6, 12, 20, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(1, 96, 228, 1) 8%, rgba(2, 76, 178, 1) 30%, rgba(6, 12, 20, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(1, 96, 228, 1) 8%, rgba(2, 76, 178, 1) 30%, rgba(6, 12, 20, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(1, 96, 228, 1) 8%, rgba(2, 76, 178, 1) 30%, rgba(6, 12, 20, 1) 100%);
    background: linear-gradient(135deg, rgba(1, 96, 228, 1) 8%, rgba(2, 76, 178, 1) 30%, rgba(6, 12, 20, 1) 100%);
    color: white;
    /* box blur */
    border-radius: 0px 100px 0px 100px;
    -moz-border-radius: 0px 100px 0px 100px;
    -webkit-border-radius: 0px 100px 0px 100px;
    font-size: 15px;
    width: 50rem;
}

/* Responsive Box */
@media screen and (max-width:900px) {
    .box {
        margin: 0;
        border-radius: 0;
        height: fit-content;
    }

    table.inventory th,
    td {
        font-size: 12px;
    }
}

/* End box content */

/* data table */
.page-item.active .page-link {
    background-color: salmon;
    color: white !important;
    border: 0;
}

.page-link {
    color: black !important;
}

/* placeholder font custome*/
::-webkit-input-placeholder {
    font-size: 13px;
}