*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 20%;
    height: 100%;
    background-color: aquamarine;
    z-index: 1;
    position: fixed;
}
.content{
    margin-left: 20%;
    width: 80%;
    padding: 10px 10px ;
    background-color: blueviolet;
}
.content h1 {
    border: 2px solid orange;
}