body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: hidden;
}
/* remove input ' type = number 'arrow */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.left {
    width: 40%;
    display: flex;
}
.left h2{
    font-size: 24px;
}
.left p{
    font-size: 14px;
}
.left label{
    font-size: 14px;
}
.container img{
    width: 6rem;
}
.container h2{
    margin-top: 100px;
}
.left .copyright small{
    position: absolute;
    left: 0;
    bottom:0;
    font-size: 10px;
    margin:10px;
}
input{
    height: 30px;
    font-size: 9px;
}
input::placeholder{
    font-size: 11px;
}

/* Temp */
.btn a{
    text-decoration: none;
    color: white;
}
/* start form */
.form-group label{
    color: white;
}
form .btn{
    margin-top: 30px;
    background-color: salmon;
    width: 100%;
}
form .btn:hover{
    background-color: rgb(202, 104, 93);
}
/* end form */

.right {
    width: 60%;
    height: 100vh;
}
/* start carousel */
.carousel {
    width: 100%;
    height: 90vh;
}
.carousel-indicators .active{
    background-color: salmon;
}
.carousel-indicators li{
    transform: translate(0, 40px);
    background-color: hsl(0, 0%, 50%);
    border-radius: 50%;
}
.carousel-inner{
    display: flex;
    height: 100%;
    justify-content: center;
}
.carousel-item {
    margin-top: 40px;
    width: 36rem;
    height: 10rem;
}
.carousel-caption.second{
    text-align: left;
    transform: translate(-6em,20em);
}
.carousel-caption.start{
    text-align: left;
    transform: translate(-7em,18em);
}
.carousel-caption.third{
    transform: translate(7em,18em);
}
.carousel-item img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel p{
    font-size: 13px;
}
/* end carousel */

/* Responsive carousel*/
@media screen and (max-width: 850px) {
    body{
        height: 100%;
        overflow-y: auto;
    }
    div.left{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        }
    .left .copyright{
        margin: 10px;
        font-size: 14px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .left .copyright small{
        position: unset;
    }
    .container{
        height: auto;
    }
    div.right, .carousel {
        width: 0;
        height: 0;
        display: none;
    }
  }
