/* Profile Image Technician */
.profile-tag {
    margin-bottom: 1rem;
}

.profile-tag i {
    font-size: 1.8em;
}

.box {
    padding: 20px;
}

.tag {
    margin: 10px;
}

/*  */
.form-row {
    margin: 20px;
}
input{
    border:none;
}