body{
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
}

nav{
    height: 100%;
    position: relative;
    float: left;
    flex: 1;
    border-radius: 15px;
}
.nav-item a{
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    margin-top: 40px;
}
.nav-item{
    width: 100%;
}
.brand{
    margin-left: 20px;
    margin-top: 30px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}
.brand:hover{
    text-decoration: none;
    color: white;
}
hr{
    width: 100%;
    opacity: 0.5;
    background-color: black;
    border-color: white;
}
.nav-item a:hover{
    background-color: salmon;
    opacity: 0.7;
    color: black;
}
nav .active{
    background-color: white;
    color: black;
}
nav .active:hover{
    background-color: white;
}
nav a i{
    margin-right: 10px;
}

/* Copyright */
.copyright{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    font-size: 11px;
}
.konten{
    float: left;
    width: 300px;
    flex: 5;
    margin-right: 10px;
}
.grid {
    display: flex;
    height: 61rem;
    padding: 10px;
}
/* Responsive sidebar */
@media screen and (max-width:900px){
    nav {
        width: 100%;
        margin: auto;
        height: 40%;
        border-radius: 0;
    }
    .brand{
        text-align: center;
    }
    .nav-item a{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .konten{
        width: 100%;
    }
    .grid{
        flex-direction: column;
        padding: 0;
    }
    .copyright{
        top: 0;
        right: 0;
        text-align: right;
        padding-right: 10px;
        width: auto;
        height: 20px;
    }
}

/* Start box Content */
.box {
    padding: 20px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: white;
    position: relative;
}
.kepala{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    margin-top: 2em;
}
.kepala h1 {
    font-size: 19px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}
.kepala i {
    margin-right: 10px;
}
.kepala a{
    background-color: white;
    border-radius: 8px;
    width: 6rem;
    border: 1px solid rgb(208, 208, 208);
}
.kepala a:hover{
    background-color: salmon;
    color: white;
    transition: .2s ease-in-out;
}
.kepala a{
    text-align: center;
    text-decoration: none;
    color: rgb(184, 184, 184);
    font-weight: lighter;
    font-size: 12px;
}
.table td{
    white-space: nowrap;
}
.table td:nth-child(4){
    width: 20%;
    max-width: 200px;
    white-space: pre-wrap;
}
/* hr style */
.batas {
    height: .6px;
    width: 80%;
    border-radius: 5px;
    background-color: black;
}
/* Responsive Box */
@media screen and (max-width:900px){
    .box{
        margin: 0;
        border-radius: 0;
    }
    .kepala{
        margin: 0;
    }
    .table td:nth-child(4){
        width: 100%;
        min-width: 18rem;
    }
}
/* End box content */