body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 15%;
    height: 95vh;
    margin: 10px;
    border-radius: 15px;
}
nav a{
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    margin-top: 40px;
}
.nav-item{
    width: 100%;
}
nav h1 {
    margin-left: 20px;
    margin-top: 30px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
hr{
    width: 100%;
    opacity: 0.5;
    background-color: black;
    border-color: white;
}
nav a:hover{
    background-color: salmon;
    opacity: 0.7;
    color: black;
}
nav .active{
    background-color: white;
    color: black;
}
nav a i{
    margin-right: 10px;
}

/* Responsive sidebar */
@media screen and (max-width:900px){
    nav {
        width: 100%;
        margin: auto;
        height: 40%;
        border-radius: 0;
    }
    nav h1{
        text-align: center;
    }
    .nav-item a{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* Copyright */
.copyright{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    font-size: 11px;
}