* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(240, 240, 240);
}

div.pogination,
a {
    font-size: 13px;
    border-radius: 5px;
}

nav {
    height: 98%;
    position: fixed;
    width: 15%;
    border-radius: 15px;
    z-index: 1;
}

div.atap {
    top: 0;
    width: 100%;
    position: fixed;
    height: 10px;
    border-radius: 10px;
    z-index: 999;
    background-color: rgb(240, 240, 240);
}

.nav-item a {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    margin-top: 40px;
}

/* Kepalal back PR */

.kepala a {
    background-color: white;
    border-radius: 8px;
    width: 10rem;
    border: 1px solid rgb(208, 208, 208);
}

.kepala a:hover {
    background-color: salmon;
    color: white;
    transition: .2s ease-in-out;
}

.kepala a {
    text-align: center;
    text-decoration: none;
    color: rgb(184, 184, 184);
    font-weight: lighter;
    font-size: 12px;
}

.nav-item {
    width: 100%;
}

.brand {
    margin-left: 20px;
    margin-top: 30px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.brand:hover {
    text-decoration: none;
    color: white;
}

hr {
    width: 100%;
    opacity: 0.5;
    background-color: black;
    border-color: white;
}

.nav-item a:hover {
    background-color: salmon;
    opacity: 0.7;
    color: black;
}

nav .active {
    background-color: white;
    color: black;
}

nav .active:hover {
    background-color: white;
}

nav a i {
    margin-right: 10px;
}

/* Copyright */
.copyright {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    font-size: 11px;
}

.konten {
    margin-left: 15%;
    width: 300px;
    flex: 5;
    margin-right: 10px;
}

div .invoice-po {
    margin-left: 0%;
    width: 100%;
}

.grid {
    display: flex;
    padding: 10px;
    object-fit: contain;
    height: 100%;
}

h5.judul {
    margin-left: 1%;
    padding: 10px;
    text-align: center;
    -webkit-box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.15);
    /* color */
    background: rgba(1, 96, 228, 1);
    background: -moz-linear-gradient(-45deg, rgba(1, 96, 228, 1) 8%, rgba(2, 76, 178, 1) 30%, rgba(6, 12, 20, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(8%, rgba(1, 96, 228, 1)), color-stop(30%, rgba(2, 76, 178, 1)), color-stop(100%, rgba(6, 12, 20, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(1, 96, 228, 1) 8%, rgba(2, 76, 178, 1) 30%, rgba(6, 12, 20, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(1, 96, 228, 1) 8%, rgba(2, 76, 178, 1) 30%, rgba(6, 12, 20, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(1, 96, 228, 1) 8%, rgba(2, 76, 178, 1) 30%, rgba(6, 12, 20, 1) 100%);
    background: linear-gradient(135deg, rgba(1, 96, 228, 1) 8%, rgba(2, 76, 178, 1) 30%, rgba(6, 12, 20, 1) 100%);
    color: white;
    /* box blur */
    border-radius: 0px 100px 0px 100px;
    -moz-border-radius: 0px 100px 0px 100px;
    -webkit-border-radius: 0px 100px 0px 100px;
    font-size: 15px;
}

.kepala h5.judul {
    width: 50rem;
}

/* Responsive sidebar */
@media screen and (max-width:900px) {
    nav {
        width: 100%;
        margin: auto;
        height: 40%;
        border-radius: 0;
        position: unset;
    }

    .kepala {
        flex-direction: column;
    }

    .kepala h5.judul {
        width: 90%;
    }

    .kepala a {
        margin-top: 10px;
    }

    div.judul {
        display: flex;
        justify-content: center;
    }

    h5.judul {
        border-radius: unset;
        width: 90%;
    }

    .brand {
        text-align: center;
    }

    .konten {
        margin-left: 0;
    }

    .nav-item a {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .atap {
        display: none;
    }
}

/* Header Search */
.navbar {
    background-color: white;
    border-radius: 15px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-name h5 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.profile-name p {
    margin: 0;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 200;
    opacity: 0.7;
}

.wrapper-image {
    overflow: hidden;
    margin: 10px;
    width: 150px;
}

.wrapper-image img {
    display: block;
    width: 100%;
}

.dropdown {
    background: transparent;
}

.dropdown-menu {
    transition: max-height 4s;
}

.dropdown .btn {
    background: transparent;
}

.dropdown-item {
    font-size: 11px;
}

.dropdown-item i {
    margin-right: 10px;
}

/* Responsive Header */
@media screen and (max-width:900px) {
    .konten {
        width: 100%;
    }

    .grid {
        flex-direction: column;
        padding: 0;
    }

    .copyright {
        top: 0;
        right: 0;
        text-align: right;
        padding-right: 10px;
        width: auto;
        height: 20px;
    }

    .navbar {
        margin: 0;
        border-radius: 0;
    }

    .profile h5 {
        font-size: 14px;
    }

    .profile p {
        font-size: 11px;
    }

    .profile {
        width: 100vw;
    }

    .wrapper-image {
        display: none;
        height: 0;
        width: 0;
    }
}

/* End header profile */

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

/* placeholder font custome*/
::-webkit-input-placeholder {
    font-size: 13px;
}

/* box */
.box {
    margin-left: 10px;
    border-radius: 15px;
    background-color: white;
    margin-top: 15px;
    padding: 10px;
    margin-bottom: 15px;
}

.form-group .waktu {
    text-align: right;
}

.form-group .tanda .title {
    font-weight: bold;
}

.form-group .col label {
    font-weight: 600;
    color: black;
    font-size: 13px;
}


.tanda .detail a {
    text-decoration: none;
}

.tanda .detail a:hover {
    color: salmon;
    transition: .3s ease-out;
}

.tanda .dropdown-toggle.collapser {
    color: #999;
}

.tanda .dropdown-toggle.collapser:hover {
    color: saddlebrown;
}

.dropdown-toggle[aria-expanded="true"]:after {
    transform: rotate(180deg);
}

table td {
    width: 130px;
    word-wrap: break-word;
}

/*for animation*/
.dropdown-toggle:after {
    transition: 0.7s;
}

@media screen and (max-width:900px) {
    .box {
        margin-top: 15px;
        margin-left: 0;
    }

    table.data {
        font-size: 12px;
    }
}