/* Profile Image Technician */
.profile-tag {
    margin-bottom: 1rem;
}

.profile-tag i {
    font-size: 1.8em;
}

.box {
    padding: 20px;
    -webkit-box-shadow: 0px 10px 11px 8px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 10px 11px 8px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 10px 11px 8px rgba(0, 0, 0, 0.12);
}

#see:hover {
    color: salmon;
}

a.invoice {
    /* color */
    background: rgba(1, 96, 228, 1);
    background: -moz-linear-gradient(-45deg, rgba(1, 96, 228, 1) 8%, rgba(2, 76, 178, 1) 30%, rgba(6, 12, 20, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(8%, rgba(1, 96, 228, 1)), color-stop(30%, rgba(2, 76, 178, 1)), color-stop(100%, rgba(6, 12, 20, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(1, 96, 228, 1) 8%, rgba(2, 76, 178, 1) 30%, rgba(6, 12, 20, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(1, 96, 228, 1) 8%, rgba(2, 76, 178, 1) 30%, rgba(6, 12, 20, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(1, 96, 228, 1) 8%, rgba(2, 76, 178, 1) 30%, rgba(6, 12, 20, 1) 100%);
    background: linear-gradient(135deg, rgba(1, 96, 228, 1) 8%, rgba(2, 76, 178, 1) 30%, rgba(6, 12, 20, 1) 100%);
    color: white;
    /* box blur */
    width: 20%;
    border-radius: 0px 100px 0px 100px;
    -moz-border-radius: 0px 100px 0px 100px;
    -webkit-border-radius: 0px 100px 0px 100px;

    -webkit-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.15);
    /* transition */
    transition: width 0.5s;
}

a.invoice:hover {
    background: rgba(23, 162, 184, 1);
    background: -moz-linear-gradient(-45deg, rgba(23, 162, 184, 1) 0%, rgba(23, 162, 184, 1) 13%, rgba(23, 162, 184, 1) 20%, rgba(6, 12, 20, 1) 88%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(23, 162, 184, 1)), color-stop(13%, rgba(23, 162, 184, 1)), color-stop(20%, rgba(23, 162, 184, 1)), color-stop(88%, rgba(6, 12, 20, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(23, 162, 184, 1) 0%, rgba(23, 162, 184, 1) 13%, rgba(23, 162, 184, 1) 20%, rgba(6, 12, 20, 1) 88%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(23, 162, 184, 1) 0%, rgba(23, 162, 184, 1) 13%, rgba(23, 162, 184, 1) 20%, rgba(6, 12, 20, 1) 88%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(23, 162, 184, 1) 0%, rgba(23, 162, 184, 1) 13%, rgba(23, 162, 184, 1) 20%, rgba(6, 12, 20, 1) 88%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(135deg, rgba(23, 162, 184, 1) 0%, rgba(23, 162, 184, 1) 13%, rgba(23, 162, 184, 1) 20%, rgba(6, 12, 20, 1) 88%, rgba(0, 0, 0, 1) 100%);
    width: 25%;
    -webkit-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.15);

}

.height th {
    height: 2px;
}

div.row.top {
    background-color: #F0F0F0;
}

table.withdraw tr th {
    background-color: #F0F0F0;
    text-align: center;
    vertical-align: middle;
}

div.error {
    display: none;
}

div.dataEntry {
    border-right: double;
}

.section table tr th{
    background-color: #F0F0F0;
    text-align: center;
    vertical-align: middle;
}

@media screen and (max-width:900px) {
    a.invoice {
        width: 300px;
    }

    /* wd-invoice */
    .box .content {
        transform: scale(0.8);
    }

    .content .indent {
        margin-left: 0 !important;
        display: flex;
        flex-direction: column;
    }

    .content .title img {
        display: none;
    }
    .section .table-responsive {
        font-size: 13px;
        margin: 0 !important;
        padding: 0 !important;
    }

    /* end */

    div.dataEntry {
        border-right: none;
    }

    div.error {
        display: block;
    }

    div.error img {

        width: 20%;
        background-position: center;
        background-size: cover;
        width: 100%;
    }

    table.title h3 {
        font-size: 14px;
    }

    table.withdraw,
    .send {
        display: none;
    }

    a.invoice:hover {
        width: 300px;
        color: black;
    }

    table img {
        max-width: 30%;
    }

    .head {
        flex-direction: column;
    }
}

.tag {
    margin: 10px;
}

.comment {
    margin-left: 2px;
    margin-right: 10px;
    width: 50em;
    border: 3px solid rgb(108, 117, 125);
}

.comment label {
    width: 100%;
    text-align: center;
}

/*  */
.form-row {
    margin: 20px;
}

input {
    border: none;
}

.addForm td textarea,
input[type=number],
select {
    font-size: 13px;
}

.date {
    position: relative;
}

.date i {
    position: absolute;
    right: 20px;
    top: 9px;
    color: gray;
}


input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}



@media print {
    * {
        margin: 0;
    }

    div.navbar {
        display: none;
    }

    .tron {
        display: none;
    }

    div.head {
        display: none;
    }

    .comment {
        border: 3px solid rgba(61, 61, 61, 0.5);
    }

}